#cont-slogan {
    color: #000080;
}
#cont-slogan h3:hover {
    color: #0A32CC;
}
#cont-slogan h2:hover {
    color: #0A32CC;
}
#div-ubicanos {
    background: url("../Images/Bottle.jpg") center;
    background-size: cover;
    height: 680px;
}
#div-ubicanos .title {
    color: white;
    font-family: Lucida Bright;
}
#div-ubicanos button {
    background-color: #B0E0E6;
    font-family: Lucida Bright;
    color: #000080;
    font-weight: bold;
}
#div-products {
    background-color: #AFEEEE;
}
.div-btn-products {
    background-image: url("../Images/Bulk.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.btn-products {
    background: none;
    border: none;
}
#div-ubicanos button:hover {
    background-color: #AEC7F2;
    transition: background-color 0.4s;
}